<ul class="pagination">
  <li class="prev">
    <a href="#"><img src="" data-src="images/ico/arrow-right-primary.svg" alt=""></a>
  </li>
  <li>
    <a href="#">1</a>
  </li>
  <li class="active">
    <span>2</span></li>
  <li>
    <a href="#">3</a>
  </li>
  <li class="dots">
    <span>…</span></li>
  <li>
    <a href="#">12</a>
  </li>
  <li class="next">
    <a href="#"><img src="" data-src="images/ico/arrow-right-primary.svg" alt=""></a>
  </li>
</ul>