<section id="comments" class="post-detail-comments-section post-detail-other-section">

  <header>
    <h2 class="base-subheading">Komentáře k článku</h2>
  </header>

  <div id="comment-1" class="comments-item" data-number="1">
    <div class="comments-item-head">
      <span class="comments-item-author">brilo</span>
      <span class="comments-item-date">25. 2. 2019 09:02</span>
    </div>

    <div class="comments-item-content">
      <p>Komentář první úrovně</p>
      <div class="comments-item-reply" data-comment-id="1">
        <span>Odpovědet</span></div>
    </div>

    <div id="comment-2" class="comments-item" data-number="2">
      <div class="comments-item-head">
        <span class="comments-item-author">brilo</span>
        <span class="comments-item-date">25. 2. 2019 09:02</span>
      </div>

      <div class="comments-item-content">
        <p>Komentář první úrovně</p>
        <div class="comments-item-reply" data-comment-id="2">
          <span>Odpovědet</span></div>
      </div>

    </div>

    <div id="comment-2" class="comments-item" data-number="2">
      <div class="comments-item-head">
        <span class="comments-item-author">brilo</span>
        <span class="comments-item-date">25. 2. 2019 09:02</span>
      </div>

      <div class="comments-item-content">
        <p>Komentář první úrovně</p>
        <div class="comments-item-reply" data-comment-id="2">
          <span>Odpovědet</span></div>
      </div>

      <div id="comment-2" class="comments-item" data-number="2">
        <div class="comments-item-head">
          <span class="comments-item-author">brilo</span>
          <span class="comments-item-date">25. 2. 2019 09:02</span>
        </div>

        <div class="comments-item-content">
          <p>Komentář první úrovně</p>
          <div class="comments-item-reply" data-comment-id="2">
            <span>Odpovědet</span></div>
        </div>
      </div>
    </div>

    <div id="comment-2" class="comments-item" data-number="2">
      <div class="comments-item-head">
        <span class="comments-item-author">brilo</span>
        <span class="comments-item-date">25. 2. 2019 09:02</span>
      </div>

      <div class="comments-item-content">
        <p>Komentář první úrovně</p>
        <div class="comments-item-reply" data-comment-id="2">
          <span>Odpovědet</span></div>
      </div>
    </div>
  </div>

  <div id="comment-3" class="comments-item" data-number="3">
    <div class="comments-item-head">
      <span class="comments-item-author">brilo</span>
      <span class="comments-item-date">25. 2. 2019 09:02</span>
    </div>

    <div class="comments-item-content">
      <p>
        <strong>Třetí</strong>
        <em>komentář,
        </em>
        <a href="http://localhost/brilotheme/sluzby/webove-sluzby/kodovani/" rel="noopener" target="_blank">První</a>
        úroveň</p>
      <div class="comments-item-reply" data-comment-id="3">
        <span>Odpovědet</span></div>
    </div>
  </div>

  <div id="comment-4" class="comments-item" data-number="4">
    <div class="comments-item-head">
      <span class="comments-item-author">brilo</span>
      <span class="comments-item-date">25. 2. 2019 09:02</span>
    </div>

    <div class="comments-item-content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eligendi quasi laudantium. Suscipit voluptas quasi, ipsa animi necessitatibus vitae recusandae, dolorum nulla natus voluptatem ullam minus amet pariatur voluptatibus dicta accusamus. Natus nisi saepe fugit est vitae vel dignissimos dolorum!</p>
      <div class="comments-item-reply" data-comment-id="4">
        <span>Odpovědet</span></div>
    </div>
  </div>

  {% include "comment-form/comment-form-logged-in.njk" %}
  {% include "comment-form/comment-form.njk" %}

  {# #respond  #}
</section>