.my-header-bottom {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin-bottom: 32px;
    a {
        font-family: $font-family-primary;
        font-size: $small-text-font-size;
        font-weight: bold;
        color: $color-secondary;
        text-decoration: none;
        &:hover {
            color: $color-primary;
        }
    }
    ul {
        padding: 16px;
        display: flex;
        justify-content: flex-end;
    }
    li {
        margin-right: 32px;
    }
    .rolig-logo {
        filter: none;
    }
    img {
        display: inline-block;
        margin-right: 8px;
        filter: invert(74%) sepia(83%) saturate(3415%) hue-rotate(326deg) brightness(100%) contrast(102%);
        &:hover {
            filter: none;
        }
    }
    .search {
        width: 22px;
        height: 22px;
    }
    .search-icon {
        display: none;
    }
    button {
        display: none;
    }
}

@media (max-width:992px) {
    .my-header-bottom {
        margin-left: 10%;
        margin-right: auto;
        justify-content: space-between;
        .menu {
            display: none;
            position: absolute;
            width: 100%;
            margin-top: 40px;
            margin-left: 65%;
            z-index: 1;
            background-color: $color-white;
        }
        .menu-show {
            display: flex;
        }
        ul {
            width: 100%;
            flex-flow: column;
            img {
                display: none;
            }
        }
        li {
            border-bottom: solid 1px $color-text-light;
            padding: 8px;
        }
        li:last-child,
        li:first-child,
        li:nth-last-child(2) {
            border-bottom: none;
        }
        .search-icon {
            display: inline-block;
            .search {
                margin-bottom: 24px;
            }
        }
        button {
            display: inline-block;
            font-family: $font-family-primary;
            font-weight: bold;
            font-size: 12px;
            color: $color-primary;
            background-color: $color-white;
            border: none;
        }
        button:focus {
            border: none;
            outline: none;
        }
        .nav-icon-open {
            display: inline;
            div {
                width: 36px;
                height: 4px;
                background-color: $color-primary;
                margin: 4px;
                border-radius: 2px;
                transition: 0.5s;
            }
            .line-2 {
                margin-bottom: 0px;
            }
        }
        .change .line-1 {
            transform: rotate(-45deg) translate(4px, 4px);
        }
        .change .line-2 {
            transform: rotate(45deg) translate(-1px, -10px);
        }
        .change span {
            margin-left: 11px;
        }
    }
    /* @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        .my-header-bottom {
            margin-right: 0;
            .menu {
                position: relative;
                ul {
                    width: auto;
                }
            }
        }
    }*/
}

@media (max-width:768px) {
    .my-header-bottom {
        .menu {
            margin-left: 55%;
        }
    }
}

@media (max-width:576px) {
    .my-header-bottom {
        .menu {
            margin-left: 45%;
        }
    }
}

@media (max-width:478px) {
    .my-header-bottom {
        .menu {
            margin-left: 35%;
        }
    }
}