<div class="my-header-bottom">


<span><img class="rolig-logo" src="images/ico/rolig-logo.svg"></span>


<ul>

<li><a href="#"><img class="home" src="images/ico/home.svg"></a></li>
<li><a href="#">Služby</a></li>
<li><a href="#">Produkty</a></li>
<li><a href="#">Novinky</a></li>
<li><a href="#">Kariéra</a></li>
<li><a href="#">O nás</a></li>
<li><a href="#">Kontakty</a></li>
<li><a href="#"><img class="search" src="images/ico/search.svg"></a></li>


</ul>


</div>