<div class="my-header-bottom">


<span><img class="rolig-logo" src="images/ico/rolig-logo.svg"></span>


<button id="navbarToggler" onclick="myFunction()">

<div class="nav-icon-open">
<div class="line-1"></div>
<div class="line-2"></div>
<span>MENU</span>
</div>
</button>


<nav id="navbar" class="menu">

<ul class="nav-list">

<li class="nav-item"><a class="nav-link" href="#"><img class="home" src="images/ico/home.svg"></a></li>
<li class="nav-item"><a class="nav-link" href="#">Služby</a></li>
<li class="nav-item"><a class="nav-link" href="#">Produkty</a></li>
<li class="nav-item"><a class="nav-link" href="#">Novinky</a></li>
<li class="nav-item"><a class="nav-link" href="#">Kariéra</a></li>
<li class="nav-item"><a class="nav-link" href="#">O nás</a></li>
<li class="nav-item"><a class="nav-link" href="#">Kontakty</a></li>
<li class="nav-item"><a class="nav-link" href="#"><img class="search" src="images/ico/search.svg"></a></li>


</ul>

</nav>


</div>