{% include "my-header/my-header-head.njk" %}


<body>

<header>


<script>

{% include "my-header/my-header-bottom.js" %}

</script>

{% include "my-header/my-header-top.njk" %}

{% include "my-header/my-header-bottom.njk" %}


</header>