<section class="post-share-section post-detail-other-section">
	<h2 class="post-share-heading article-heading">Sdílejte článek</h2>

	<div class="post-share-platforms">
		<a class="post-share-link" href="#">
			<img src="" data-src="images/ico/facebook.svg" alt="">
			<span>Facebook</span>
		</a>

		<a class="post-share-link" href="#">
			<img src="" data-src="images/ico/twitter.svg" alt="">
			<span>Twitter</span>
		</a>

		<a class="post-share-link" href="#">
			<img src="" data-src="images/ico/instagram.svg" alt="">
			<span>Instagram</span>
		</a>
	</div>
</section>