<section class="section-products">

<h2>Chcete vědět detaily o <span class="header-orange">produktech?</span></h2>


<div class="container">
<div class="row">

<div class="col-sm">

<div class="left-side"><h3>Krbová kamna</h3>
<img class="romotop-logo" src="images/ico/romotop-logo.png">
<a class="find-more" href="#">Zjistit více<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></div>

<div class="sp-img-background">
<div class="triangle-sp"></div>
<img class="romotop-product-01" src="images/theme/romotop-product-01.png">
</div>

</div>


<div class="col-sm">

<div class="left-side"><h3>Krbové vložky</h3>
<img class="romotop-logo" src="images/ico/romotop-logo.png">
<a class="find-more" href="#">Zjistit více<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></div>

<div class="sp-img-background">
<div class="triangle-sp"></div>
<img class="romotop-product-01" src="images/theme/romotop-product-01.png">
</div>

</div>


<div class="col-sm">

<div class="left-side"><h3>Peletová kamna</h3>
<img class="edilkamin-logo" src="images/ico/edilkamin-logo.png">
<a class="find-more" href="#">Zjistit více<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></div>

<div class="sp-img-background">
<div class="triangle-sp"></div>
<img class="edilkamin-product" src="images/theme/edilkamin-product.png">
</div>

</div>


<div class="col-sm">

<div class="left-side"><h3>Plynové vložky</h3>
<img class="kalfire-logo" src="images/ico/kalfire-logo.png">
<a class="find-more" href="#">Zjistit více<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></div>

<div class="sp-img-background">
<div class="triangle-sp"></div>
<img class="kalfire-product" src="images/theme/kalfire-product.png">
</div>

</div>


<div class="col-sm">

<div class="left-side"><h3>Kanadská kamna</h3>
<img class="osburn-logo" src="images/ico/osburn-logo.png">
<a class="find-more" href="#">Zjistit více<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></div>

<div class="sp-img-background">
<div class="triangle-sp"></div>
<img class="osburn-product" src="images/theme/osburn-product.png">
</div>

</div>


<div class="col-sm">

<div class="left-side"><h3>Kotel na biomasu</h3>
<img class="opop-logo" src="images/ico/opop-logo.png">
<a class="find-more" href="#">Zjistit více<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></div>

<div class="sp-img-background">
<div class="triangle-sp"></div>
<img class="opop-product" src="images/theme/opop-product.png">
</div>

</div>


</div>
</div>


</section>