.section-products {
    h2 {
        text-align: center;
        font-size: $base-heading-font-size;
        font-weight: bold;
        line-height: 1.22;
        color: $color-secondary;
        font-family: $font-family-primary;
        padding-top: 64px;
        padding-bottom: 64px;
        .header-orange {
            color: $color-primary;
        }
    }
    h3 {
        padding: 16px 8px 8px 8px;
        text-align: left;
        font-size: $article-heading-font-size;
        font-weight: bold;
        color: $color-secondary;
        overflow: visible;
    }
    .container {
        max-width: 1248px;
        padding: 0;
        p {
            padding: 10px;
        }
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .col-sm {
        display: flex;
        position: relative;
        justify-content: space-between;
        max-width: 400px;
        max-height: 153px;
        margin-right: 20px;
        margin-bottom: 80px;
        padding-inline-end: 0px;
        border: solid 1px #e5e5e5;
        background-color: #ffffff;
        .left-side {
            display: table-column;
            .romotop-logo,
            .edilkamin-logo,
            .kalfire-logo,
            .osburn-logo,
            .opop-logo {
                padding-left: 8px;
            }
            .find-more {
                display: flex;
                padding: 16px 16px 16px 8px;
                .arrow-primary {
                    width: 13px;
                    margin-left: 8px;
                    display: inline-block;
                }
            }
        }
        .sp-img-background {
            display: flex;
            justify-content: center;
            width: 182px;
            height: 152px;
            background-image: linear-gradient(50deg, #f2f2f2, #d6d6d6 100%);
            img {
                position: absolute;
                bottom: 16px;
            }
        }
        .triangle-sp {
            z-index: 1;
            width: 0;
            height: 0;
            border: 0 solid transparent;
            border-right-width: 30px;
            border-left-width: 0px;
            border-bottom: 151px solid $color-white;
            position: absolute;
            right: 152px;
        }
    }
}

@media (max-width:768px) {
    .section-products h2 {
        font-size: $base-heading-font-size-LG;
    }
}

@media (max-width:576px) {
    .section-products h2 {
        font-size: $article-heading-font-size;
    }
}