<section class="section-order">

<h2>A je to! Můžete začít topit</h2>

<p class="p-order">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>

<div class="component-outline-box">
<img class="component-outline" src="images/ico/component-outline.svg">
</div>

<a class="button-order" href="#">Objevte naše produkty<img class="arrow-right-white" src="images/ico/arrow-right-white.svg"></a>

</section>
