.section-order {
    height: 450px;
    background-image: url("images/theme/socks.png"), linear-gradient(103deg, $color-primary, $color-gradient);
    color: $color-white;
    font-family: $font-family-primary;
    text-align: center;
    padding: 80px;
    h2 {
        font-size: $base-heading-font-size;
        font-weight: bold;
        padding: 30px;
    }
    .p-order {
        max-width: 639px;
        font-size: $small-text-font-size;
        font-family: $font-family-secondary;
        color: $color-white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
}

.button-order {
    display: inline-block;
    padding: 16px;
    width: 239px;
    height: 57px;
    color: $color-white;
    font-weight: bold;
    text-decoration: none;
    background-color: $color-secondary;
    border-style: none;
    border-radius: 2px;
    box-shadow: 0 3px 8px 0 rgba(65, 8, 8, 0.4);
    .arrow-right-white {
        margin-left: 10px;
        max-width: 14px;
        display: inline-flex;
    }
    &:hover {
        text-decoration: none;
        color: $color-secondary;
        background-color: $color-white;
    }
}