.section-order {
    background-image: url("images/theme/socks.png"), linear-gradient(103deg, $color-primary, $color-gradient);
    color: $color-white;
    font-family: $font-family-primary;
    text-align: center;
    padding: 112px 80px 112px 80px;
    position: relative;
    h2 {
        font-size: $base-heading-font-size;
        font-weight: bold;
        padding: 30px;
    }
    .p-order {
        max-width: 639px;
        font-size: $small-text-font-size;
        font-family: $font-family-secondary;
        color: $color-white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    .component-outline-box {
        width: 320px;
        right: 0px;
        bottom: -120px;
        position: absolute;
        overflow: hidden;
        opacity: 0.3;
        img {
            width: 400px;
            max-width: 400px;
        }
    }
}

.button-order {
    display: inline-block;
    padding: 16px;
    width: 239px;
    height: 57px;
    color: $color-white;
    font-size: $small-text-font-size;
    font-weight: bold;
    text-decoration: none;
    background-color: $color-secondary;
    border-style: none;
    border-radius: 2px;
    box-shadow: 0 3px 8px 0 rgba(65, 8, 8, 0.4);
    z-index: 1;
    .arrow-right-white {
        margin-left: 10px;
        max-width: 14px;
        display: inline-flex;
    }
    &:hover {
        text-decoration: none;
        color: $color-secondary;
        background-color: $color-white;
        .arrow-right-white {
            filter: invert(11%) sepia(50%) saturate(672%) hue-rotate(191deg) brightness(93%) contrast(85%);
        }
    }
}

@media (max-width: 867px) {
    .section-order {
        .component-outline-box {
            display: none;
        }
    }
}

@media (max-width:760px) {
    .section-order {
        h2 {
            font-size: $base-subheading-font-size;
            padding: 16px;
        }
    }
}

@media (max-width:560px) {
    .section-order {
        padding: 80px 32px 80px 32px;
        h2 {
            padding: 0px 0px 16px 0px;
            line-height: 32px;
            font-size: $article-heading-font-size;
        }
        .p-order {
            margin-bottom: 32px;
        }
    }
}

@media (max-width: 280px) {
    .section-order {
        .button-order {
            display: flex;
            flex-wrap: wrap;
            width: auto;
            height: auto;
        }
    }
}

.section-order {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .button-order {
            .arrow-right-white {
                width: 80px;
                display: inline-block;
            }
            img {
                display: inline-block;
            }
        }
    }
}