<section class="related-posts-section post-detail-other-section">
	<header>
		<h2 class="base-subheading">Podobné články</h2>

		<div class="posts-listing">
			@@loop('../posts-item/posts-item.html',[
			{
			"imgSrc1by1": "images/content/dummy-01-1by1.jpg",
			"imgSrc3by4": "images/content/dummy-01-3by4.jpg",
			"imgSrc4by3": "images/content/dummy-01-4by3.jpg",
			"titleText": "Titulek novinky, aktuality nebo článku. Může se jednat o změnu pracovné doby nebo důležitá sdělení.",
			"tagsBar": true,
			"pText": "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris metus. Maecenas aliquet accumsan leo. Vivamus porttitor turpis ac leo. Fusce consectetuer risus a nunc. Ut enim ad minim veniam...",
			"authorText": "Tomáš Novák",
			"dateText": "19.6.2018"
			},
			{
			"imgSrc1by1": "images/content/dummy-02-1by1.jpg",
			"imgSrc3by4": "images/content/dummy-02-3by4.jpg",
			"imgSrc4by3": "images/content/dummy-02-4by3.jpg",
			"titleText": "Titulek novinky, aktuality nebo článku. Může se jednat o změnu pracovné doby nebo důležitá sdělení.",
			"tagsBar": true,
			"pText": "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris metus. Maecenas aliquet accumsan leo. Vivamus porttitor turpis ac leo. Fusce consectetuer risus a nunc. Ut enim ad minim veniam...",
			"authorText": "Tomáš Novák",
			"dateText": "19.6.2018"
			}
			])
		</div>

	</header>
</section>