<div class="aside-nav">
	<h2 class="aside-nav-heading base-heading">
		Navigace
	</h2>

	<nav>
		<ul>
			<li><a href="#">Aktuality</a></li>
			<li><a href="#">Akční nabídky</a></li>
			<li><a href="#">Články z naší kuchyně</a></li>
			<li><a href="#">Novinky</a></li>
			<li><a href="#">Návody</a></li>
		</ul>
	</nav>
</div>