<div class="aside-posts">
	<h2 class="aside-posts-heading base-subheading">Nejnovější příspěvky</h2>

	<article class="aside-posts-item">
		<a href="#">
			<div class="aside-posts-item-img">
				<img src="" data-src="images/content/dummy-01-1by1.jpg" alt="">
			</div>

			<h3 class="aside-posts-item-heading">Titulek novinky, aktuality nebo článku. Může se jednat o změnu pracovné doby.</h3>

		</a>
	</article>

	<article class="aside-posts-item">
		<a href="#">
			<div class="aside-posts-item-img">
				<img src="" data-src="images/content/dummy-02-1by1.jpg" alt="">
			</div>

			<h3 class="aside-posts-item-heading">Titulek novinky, aktuality nebo článku. Může se jednat o změnu pracovné doby.</h3>

		</a>
	</article>

	<article class="aside-posts-item">
		<a href="#">
			<div class="aside-posts-item-img">
				<img src="" data-src="images/content/dummy-03-1by1.jpg" alt="">
			</div>

			<h3 class="aside-posts-item-heading">Titulek novinky, aktuality nebo článku. Může se jednat o změnu pracovné doby.</h3>

		</a>
	</article>
</div>