<div class="aside-img-block">
	<h2 class="aside-img-block-heading base-subheading">Nejnovější příspěvky</h2>
	<a href="#">
		<img src="" data-src="images/content/dummy-04-1by1.jpg" alt="">
	</a>
</div>