<!-- @@utilityClass: col-lg-3 -->
<aside class="aside-main @@utilityClass">

	<!-- @@include('aside-nav.html') -->

	<!-- @@include('aside-posts.html') -->


	<!-- @@include('aside-img-block.html') -->


	<div class="aside-nav">
		<div id="nav_menu-2" class="widget widget_nav_menu">
			<h2 class="widgettitle">Navigace</h2>
			<div class="menu-hlavni-menu-container">
				<ul id="menu-hlavni-menu-1" class="menu">
					<li class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-17"><a href="http://localhost/brilotheme/sluzby/">Služby</a>
						<ul class="sub-menu">
							<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-144 current_page_item menu-item-159"><a href="http://localhost/brilotheme/sluzby/grafika/">Grafika</a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-160"><a href="http://localhost/brilotheme/sluzby/webove-sluzby/">Webové služby</a>
								<ul class="sub-menu">
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="http://localhost/brilotheme/sluzby/webove-sluzby/kodovani/">Kódování</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href="http://localhost/brilotheme/sluzby/webove-sluzby/programovani/">Programování</a></li>
									<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-163"><a href="http://localhost/brilotheme/sluzby/webove-sluzby/seo-diagnostika/">Seo diagnostika</a></li>
								</ul>
								<span class="sub-menu-button"></span>
							</li>
						</ul>
						<span class="sub-menu-button"></span>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="http://localhost/brilotheme/reference/">Reference</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="http://localhost/brilotheme/blog/">Blog</a></li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="http://localhost/brilotheme/kontakty/">Kontakty</a></li>
				</ul>
			</div>
		</div>

		<div id="media_image-2" class="widget widget_media_image">
			<h2 class="widgettitle">Blok s obrázkem</h2>
			<a href="">

				<img width="300" height="300" src="images/content/dummy-04-1by1.jpg" class="image wp-image-153  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;">
			</a>
		</div>

		<div id="categories-3" class="widget widget_categories">
			<h2 class="widgettitle">Rubriky</h2>
			<ul>
				<li class="cat-item cat-item-8"><a href="http://localhost/brilotheme/kategorie/jak-pracujeme/">Jak pracujeme</a>
				</li>
				<li class="cat-item cat-item-5"><a href="http://localhost/brilotheme/kategorie/rady/">Rady</a>
				</li>
			</ul>
		</div>

		<div id="search-3" class="widget widget_search">
			<h2 class="widgettitle">Vyhledávání</h2>
			<form role="search" method="get" id="searchform" class="searchform" action="http://localhost/brilotheme/">
				<div>
					<label class="screen-reader-text" for="s">Vyhledávání</label>
					<input type="text" value="" name="s" id="s">
					<input type="submit" id="searchsubmit" value="Hledat">
				</div>
			</form>
		</div>
		<div id="custom_html-2" class="widget_text widget widget_custom_html">
			<h2 class="widgettitle">custom html</h2>
			<div class="textwidget custom-html-widget"></div>
		</div>

		<div id="text-2" class="widget widget_text">
			<h2 class="widgettitle">textik</h2>
			<div class="textwidget">
				<p>askdas asůkdj alsdj aůlksasůljd as</p>
			</div>
		</div>

		<div id="pages-2" class="widget widget_pages">
			<h2 class="widgettitle">stranky</h2>
			<ul>
				<li class="active page_item page-item-5"><a href="http://localhost/brilotheme/blog/">Blog</a></li>
				<li class="page_item page-item-13"><a href="http://localhost/brilotheme/historie/">Historie</a></li>
				<li class="page_item page-item-7"><a href="http://localhost/brilotheme/kontakty/">Kontaktní údaje</a></li>
				<li class="page_item page-item-146"><a href="http://localhost/brilotheme/">MojeFirma s.r.o. a její představení</a></li>
				<li class="page_item page-item-3"><a href="http://localhost/brilotheme/ochrana-osobnich-udaju/">Ochrana osobních údajů</a></li>
				<li class="page_item page-item-9"><a href="http://localhost/brilotheme/reference/">Reference</a></li>
				<li class="page_item page-item-11 page_item_has_children current_page_ancestor current_page_parent"><a href="http://localhost/brilotheme/sluzby/">Služby</a>
					<ul class="children">
						<li class="page_item page-item-144 current_page_item"><a href="http://localhost/brilotheme/sluzby/grafika/">Grafika</a></li>
						<li class="page_item page-item-138 page_item_has_children"><a href="http://localhost/brilotheme/sluzby/webove-sluzby/">Webové služby</a>
							<ul class="children">
								<li class="page_item page-item-142"><a href="http://localhost/brilotheme/sluzby/webove-sluzby/kodovani/">Kódování</a></li>
								<li class="page_item page-item-140"><a href="http://localhost/brilotheme/sluzby/webove-sluzby/programovani/">Programování</a></li>
								<li class="page_item page-item-136"><a href="http://localhost/brilotheme/sluzby/webove-sluzby/seo-diagnostika/">Seo diagnostika</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="page_item page-item-15"><a href="http://localhost/brilotheme/smluvni-podminky/">Smluvní podmínky</a></li>
			</ul>
		</div>

		<div id="categories-3" class="widget widget_categories">
			<h2 class="widgettitle">rubriky</h2>
			<ul>
				<li class="cat-item cat-item-8"><a href="http://localhost/brilotheme/kategorie/jak-pracujeme/">Jak pracujeme</a>
				</li>
				<li class="cat-item cat-item-5"><a href="http://localhost/brilotheme/kategorie/rady/">Rady</a>
				</li>
			</ul>
		</div>

		<div id="categories-4" class="widget widget_categories">
			<h2 class="widgettitle">Rubirky Rozbalovaci menu</h2>
			<form action="http://localhost/brilotheme" method="get">
				<label class="screen-reader-text" for="cat">Rubirky Rozbalovaci menu</label>
				<select name="cat" id="cat" class="postform">
					<option value="-1">Vybrat rubriku</option>
					<option class="level-0" value="8">Jak pracujeme</option>
					<option class="level-0" value="5">Rady</option>
				</select>
			</form>
			<script type="text/javascript">
				/* <![CDATA[ */
				(function () {
					var dropdown = document.getElementById("cat");

					function onCatChange() {
						if (dropdown.options[dropdown.selectedIndex].value > 0) {
							dropdown.parentNode.submit();
						}
					}
					dropdown.onchange = onCatChange;
				})();
				/* ]]> */
			</script>

		</div>

		<div id="categories-5" class="widget widget_categories">
			<h2 class="widgettitle">Rubriky počet prispevku</h2>
			<ul>
				<li class="cat-item cat-item-8"><a href="http://localhost/brilotheme/kategorie/jak-pracujeme/">Jak pracujeme</a> (8)
				</li>

				<li class="cat-item cat-item-5"><a href="http://localhost/brilotheme/kategorie/rady/">Rady</a> (1)
				</li>
			</ul>
		</div>

		<div id="categories-6" class="widget widget_categories">
			<h2 class="widgettitle">Rubriky struktura</h2>
			<ul>
				<li class="cat-item cat-item-8"><a href="http://localhost/brilotheme/kategorie/jak-pracujeme/">Jak pracujeme</a>
				</li>
				<li class="cat-item cat-item-5"><a href="http://localhost/brilotheme/kategorie/rady/">Rady</a>
				</li>
			</ul>
		</div>
	</div>


</aside>