<section class="section-realisation">

<h2>O realizaci topení se postaráme <span class="header-orange">od A do Z</span></h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>


<div class="container">
<div class="row row-cols-2">

<div class="col"><h3><div class="point">1.</div>Osobní schůzka</h3>

<p>Sjednáme si <a href="#">osobní schůzku</a>. Na ní projdeme vaše požadavky, tepelnou ztrátu domu, stavební plány a další nutné informace k tomu, abychom navrhli nejvhodnější řešení v poměru cena a výkon.</p></div>

<div class="col"><h3><div class="point">2.</div>Příprava rozpočtu</h3>

<p>Na vše vám přehledně a transparentně připravíme rozpočet celé stavby. Budete vědět přesně, co za své peníze dostanete. Do poslední desky, do posledního mililitru lepidla. Žádné schovávačky.</p></div>

<div class="col"><h3><div class="point">3.</div>Řádná smlouva o dílo</h3>

<p>Na vše sepíšeme řádnou smlouvu o dílo. Jasně si společně určíme, co postavíme, v jakém termínu a za jaké peníze. Bez skrytých hvězdiček a malých písmen na konci dokumentu.</p></div>

<div class="col"><h3><div class="point">4.</div>Dovezeme materiál</h3>

<p>Na stavbu přivezeme materiál potřebný k realizaci stavby. Materiál si necháváme zaplatit ve chvíli, kdy ho přivezeme a vše si zkontrolujeme. Včetně předávacího protokolu. Vše čistě a jasně.</p></div>

<div class="col"><h3><div class="point">5.</div>Provedeme práce</h3>

<p>Nemusíte se o nic starat. Vše zařídíme. Nemusíte se domlouvat s dalšími řemeslníky, obkladači, topenáři, elektrikáři, atd. Na vše máme své lidi nebo si je najmeme a neseme za ně odpovědnost.</p></div>

<div class="col"><h3><div class="point">6.</div>Předání stavby</h3>

<p>Hotovou, čistou a uklizenou stavbu vám řádně předáme zpět. Vypracujeme předávací protokol, vše společně vyzkoušíme a projdeme, že je vše tak, jak jsme si dohodli na začátku.</p></div>

</div>

</div>
</section>
