.section-realisation {
    margin-bottom: 120px;
    h2 {
        text-align: center;
        font-size: $base-heading-font-size;
        font-weight: bold;
        color: $color-secondary;
        font-family: $font-family-primary;
        padding: 20px;
        .header-orange {
            color: $color-primary;
        }
    }
    p {
        font-size: $small-text-font-size;
        font-family: $font-family-secondary;
        color: $color-secondary;
        padding: 16px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .col:last-child {
        margin-left: 64px;
        position: relative;
    }
    .realisation-step {
        p {
            text-align: left;
            margin-left: 72px;
            padding: 0px 0px 32px 0px;
        }
    }
    .point {
        display: inline-block;
        width: 54px;
        height: 54px;
        border-radius: 27px;
        padding: 16px;
        margin-right: 16px;
        text-align: center;
        background-color: $color-primary;
        background: linear-gradient(135deg, $color-primary, $color-gradient);
        color: $color-white;
    }
    h3 {
        color: $color-secondary;
        font-family: $font-family-primary;
        font-size: $article-heading-font-size;
    }
    .line {
        transform: rotate(90deg);
        color: #f2f2f2;
        width: 200px;
        height: 5px;
    }
    .arrow-curve {
        position: absolute;
        margin-left: -96px;
        margin-top: -120px;
    }
}

@media (max-width:850px) {
    .section-realisation h2 {
        font-size: $base-heading-font-size-LG;
    }
}

@media (max-width:767px) {
    .section-realisation {
        h2 {
            font-size: $base-subheading-font-size;
            line-height: 32px;
        }
        .container {
            padding: auto;
        }
        .row {
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
        }
        .col:last-child {
            margin-left: auto;
        }
        .arrow-curve {
            display: none;
        }
    }
}