.section-faq {
    margin-left: auto;
    margin-right: auto;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    h2 {
        font-family: $font-family-primary;
        font-size: $base-heading-font-size;
        font-weight: bold;
        line-height: 1.22;
        color: $color-secondary;
        .header-orange {
            color: $color-primary;
        }
    }
    p {
        font-family: $font-family-secondary;
        font-size: $small-text-font-size;
        color: $color-secondary;
        padding: 32px;
    }
    .arrow-primary {
        width: 13px;
        margin-left: 8px;
        display: inline-block;
    }
    .col {
        margin-right: 64px;
    }
}

.advice {
    font-size: $base-text-font-size;
    font-weight: bold;
}

.section-contacts {
    display: flex;
    li {
        margin-right: 16px;
    }
    img {
        display: inline-block;
        margin-right: 8px;
    }
    .all-contacts {
        font-family: $font-family-secondary;
        font-size: $small-text-font-size;
        color: $color-primary;
    }
}

.faq-links {
    font-family: $font-family-secondary;
    font-size: 22px;
    li {
        padding: 16px;
    }
}

.logs {
    position: absolute;
    max-height: 426px;
    left: 80%;
    bottom: 8%;
    overflow: hidden;
    object-fit: cover;
}