<section class="section-faq">

<div class="container">
<div class="row">

<div class="col">

<h2>Pokud už topíte,<br>mohlo by se <span class="header-orange">vám hodit</span></h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
</p>

<p class="advice">Potřebujete poradit?</p>

<ul class="section-contacts">

<li><img src="images/ico/phone-primary.svg">+ 420 778 456 987</li>
<li><img src="images/ico/mail-primary.svg">info@rolig.cz</li>
<li><a class="all-contacts" href="#">Všechny kontakty<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></li>

</ul>

</div>


<div class="col">

<ul class="faq-links">

<li><a href="#">Revize komínového tělesa<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></li>
<li><a href="#">Jak krb nedusit a udržovat ho<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></li>
<li><a href="#">Začouzené sklo u krbu nebo kamen<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></li>
<li><a href="#">Jaké dřevo k topení používat<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></li>
<li><a href="#">Revize komínového tělesa<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></li>
<li><a href="#">Jak krb nedusit a udržovat ho<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></li>
<li><a href="#">Začouzené sklo u krbu nebo kamen<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></li>
<li><a href="#">Jaké dřevo k topení používat<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></li>

</ul>

</div>


</div>
</div>

<img class="logs" src="images/theme/logs.jpg">

</section>