.section-faq {
    padding-left: 64px;
    padding-bottom: 160px;
    position: relative;
    h2 {
        font-family: $font-family-primary;
        font-size: $base-heading-font-size;
        font-weight: bold;
        line-height: 1.22;
        color: $color-secondary;
        margin-bottom: 32px;
        .header-orange {
            color: $color-primary;
        }
    }
    .container p {
        font-family: $font-family-secondary;
        font-size: $small-text-font-size;
        color: $color-secondary;
        padding: 0;
    }
    .row {
        border-top: 1px solid #e5e5e5;
        padding-top: 80px;
    }
    .arrow-primary {
        width: 13px;
        margin-left: 8px;
        display: inline-block;
    }
    .col {
        margin-right: 64px;
    }
}

.advice {
    font-size: $base-text-font-size;
    font-weight: bold;
}

.section-contacts {
    display: flex;
    font-family: $font-family-secondary;
    li {
        margin-right: 16px;
    }
    img {
        display: inline-block;
        margin-right: 8px;
    }
    .all-contacts {
        font-family: $font-family-secondary;
        font-size: $small-text-font-size;
        color: $color-primary;
    }
    a {
        color: $color-secondary;
        text-decoration: none;
        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }
}

.faq-links {
    font-family: $font-family-secondary;
    font-size: 22px;
    li {
        padding: 16px;
    }
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}


/*.logs {
    max-width: 340px;
    overflow: hidden;
    position: absolute;
    left: 90%;
    bottom: 8%;
    img {
        max-width: 964px;
    }
}*/

.logs {
    max-width: 152px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    bottom: 32px;
    img {
        max-width: 619px;
        object-fit: cover;
        font-family: "object-fit: cover;";
        object-position: bottom;
    }
}

@media (max-width:1160px) {
    .section-faq {
        .row {
            display: inline-table;
        }
        .col {
            margin-bottom: 32px;
        }
        .faq-links li {
            padding: 16px 0px 16px 0px;
        }
    }
}

@media (max-width:540px) {
    .section-faq {
        h2 {
            font-size: $base-heading-font-size-LG;
        }
        .section-contacts {
            display: flex;
            flex-direction: column;
            li {
                margin-bottom: 16px;
            }
        }
        .faq-links {
            font-size: 20px;
        }
        .logs {
            display: none;
        }
    }
}

@media (max-width: 390px) {
    .section-faq {
        .faq-links img {
            display: none;
        }
    }
}