<div class="search-form-wrap">
	<h2 class="search-form-heading article-heading">Vyhledávání pro:</h2>

	<form class="search-form">
		<input class="search-form-input" type="text" value="Kontaktní údaje">
		<button class="search-form-submit" type="submit"><img src="" data-src="images/ico/magnifier.svg" alt=""></button>
	</form>
</div>