<section class="section-contact">


<div class="container">
<div class="row row-cols-2">

<div class="col">
<h2><img class="rolig-logo" src="images/ico/rolig-logo.svg">České Budějovice</h2>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec iaculis gravida nulla. Etiam quis quam. Donec quis nibh at felis congue commodo. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.

<br>Etiam egestas wisi a erat. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
</p>



<div class="container-second">
<div class="row">

<div class="col-sm-second">
<h3><img src="images/ico/map-pin-location-primary.svg">Adresa</h3>
<p>Tyršova 334<br>
České Budějovice<br> 
370 05</p>
</div>

<div class="col-sm-second">
<h3><img src="images/ico/time-primary.svg">Otevírací doba</h3>
<p>PO-PÁ 7:00 - 16:30<br>
SO 7:00 - 11:00<br>
NE Zavřeno</p>
</div>

<div class="col-sm-second">
<h3><img src="images/ico/chevrons-right-primary.svg">Kudy k nám?</h3>
<p>MHD č. 9 (U lékarny)<br>
Parkování před prodejnou</p>
<div>

</div>
</div>

</div>

<div class="col">
<img class="store" src="images/theme/store.jpg">
</div>

</div>
</div>

</section>