<div class="header-language-switcher">
	<div class="header-language-current">
		CZ
	</div>

	<ul class="header-language-list">
		<li><a href="#">DE</a></li>
		<li><a href="#">EN</a></li>
	</ul>
</div>