<main>

<section class="section-intro">

<h1>Neprodáváme <span class="header-orange">kamna.</span><br> 
Měníme zimu v <span class="header-orange">teplo domova.</span></h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

<a class="button-primary" href="#">Naše služby<img class="arrow-right-white" src="images/ico/arrow-right-white.svg"></a>

<div class="intro-image"><img class="hp-intro" src="images/theme/hp-intro.jpg">

<img class="component-outline" src="images/ico/component-outline.svg">
<img class="component" src="images/ico/component.svg">

</div>

</section>