.section-intro {
    margin-bottom: 72px;
    h1 {
        margin-left: 80px;
        margin-bottom: 16px;
        font-family: $font-family-primary;
        font-size: $hp-heading-font-size;
        font-weight: bold;
        line-height: 1.25;
        color: $color-secondary;
        .header-orange {
            color: $color-primary;
        }
    }
    p {
        margin-left: 80px;
        margin-bottom: 32px;
        font-family: $font-family-secondary;
        font-size: 22px;
        color: $color-secondary;
    }
    .button-primary {
        display: inline-block;
        max-width: 239px;
        height: 57px;
        padding: 16px;
        margin-left: 80px;
        margin-bottom: 63px;
        color: $color-white;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        background-color: $color-primary;
        background: linear-gradient(103deg, $color-primary, $color-gradient);
        border-style: none;
        border-radius: 2px;
        box-shadow: 0 3px 8px 0 rgba(255, 77, 77, 0.4);
        .arrow-right-white {
            margin-left: 10px;
            max-width: 14px;
            display: inline-flex;
        }
        &:hover {
            text-decoration: none;
            color: $color-white;
            background: #eb1111;
        }
        &:visited {
            text-decoration: underline;
            color: $color-white;
        }
    }
    .hp-intro {
        height: 570px;
    }
    .intro-image {
        position: relative;
    }
    .component {
        position: absolute;
        bottom: 90px;
        right: 100px;
    }
    .component-outline {
        width: 452.8px;
        height: 811px;
        opacity: 0.2;
        position: absolute;
        top: -310px;
        right: 80px;
    }
}

@media (max-width:1300px) {
    .section-intro {
        .component {
            width: 30%;
        }
        .component-outline {
            width: 30%;
            top: -208px;
        }
    }
}

@media (max-width:1200px) {
    .section-intro {
        .hp-intro {
            height: auto;
        }
        .component {
            width: 20%;
        }
    }
}

@media (max-width:992px) {
    .section-intro {
        margin-bottom: auto;
        h1 {
            font-size: $base-heading-font-size;
        }
        p {
            font-size: $base-text-font-size;
        }
    }
}

@media (max-width:690px) {
    .section-intro {
        h1 {
            font-size: $base-heading-font-size-LG;
        }
        p {
            font-size: $small-text-font-size;
        }
    }
}

@media (max-width:575px) {
    .section-intro {
        .hp-intro,
        .component,
        .component-outline {
            display: none;
        }
        .button-primary {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: auto;
            height: auto;
        }
    }
}