<div class="footer-bottom">
	<div class="container">
		<span class="footer-copy">Copyright &copy; 2018 - Všechna práva vyhrazena | cistociste.cz</span>

		<nav class="footer-bottom-nav">
			<ul>
				<li><a href="#">Ochrana osobních údajů</a></li>
				<li><a href="#">Kariéra</a></li>
				<li><a href="#">Smluvní podmínky</a></li>
			</ul>
		</nav>

{% include "footer/footer-social.njk" %}
		{# @@include('footer-social.html', {
		"utilityClass": "footer-bottom-social"
		}) #}

	</div>
</div>