<!-- @@utilityClass:  footer-top-social, footer-bottom-social-->
<div class="footer-social @@utilityClass">
	<a href="#">
  {% include "../../../build/images/ico/facebook.svg" %}
		
	</a>
	<a href="#">
  {% include "../../../build/images/ico/twitter.svg" %}
	
	</a>
	<a href="#">
  {% include "../../../build/images/ico/instagram.svg" %}
	
	</a>
	<a href="#">
  {% include "../../../build/images/ico/youtube.svg" %}
	
	</a>
	<a href="#">
  {% include "../../../build/images/ico/linkedin.svg" %}
		
	</a>
</div>