.my-footer-top {
    background-color: $color-secondary;
    position: relative;
    border-top: solid 4px $color-primary;
    h3 {
        padding-top: 96px;
        padding-bottom: 32px;
        color: $color-white;
        font-family: $font-family-primary;
        font-size: $article-heading-font-size;
        border-bottom: solid 1px $color-primary;
    }
    .container-mft {
        padding-left: 32px;
        padding-right: 32px;
        align-items: center;
        background-color: $color-secondary;
    }
    .row {
        justify-content: space-evenly;
    }
    .col-sm {
        background-color: $color-secondary;
        border: none;
        text-align: left;
        span {
            color: $color-white;
            font-weight: bold;
        }
    }
    li {
        color: $color-white;
    }
    .footer-contacts {
        display: flex;
        flex-direction: column;
        li {
            padding-top: 32px;
        }
        .arrow-primary {
            width: 13px;
            margin-left: 8px;
            display: inline-block;
        }
        img {
            width: 13px;
            height: 13px;
            display: inline-block;
            margin-right: 8px;
        }
        a {
            color: $color-white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .all-contacts {
            color: $color-primary;
        }
    }
    .follow-us {
        padding-top: 32px;
        ul {
            display: flex;
            flex-direction: row;
        }
        img {
            filter: invert(100%) sepia(0%) saturate(7404%) hue-rotate(3deg) brightness(111%) contrast(117%);
            opacity: 0.4;
            padding-top: 16px;
            width: 56px;
            height: 56px;
            display: inline-block;
        }
        span {
            color: $color-white;
            font-family: $font-family-secondary;
            font-size: $small-text-font-size;
            font-weight: normal;
        }
    }
    .invoice-rolig {
        color: $color-white;
        font-family: $font-family-secondary;
        font-weight: bold;
        padding-top: 32px;
        padding-bottom: 16px;
    }
    .invoice {
        li {
            padding-top: 8px;
        }
    }
    .important-information {
        padding-top: 16px;
        li {
            padding-top: 16px;
        }
        a {
            color: $color-white;
            text-decoration: underline;
        }
    }
    .rolig-motto {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 120px;
        margin-right: 120px;
        padding-top: 40px;
        padding-bottom: 40px;
        box-shadow: 0 -1px 0 0 #3d435c;
        img {
            height: 92px;
        }
        p {
            font-family: $font-family-primary;
            font-size: 34px;
            color: $color-white;
            opacity: 0.5;
            font-weight: normal;
            font-stretch: normal;
            font-style: italic;
            line-height: 2.21;
        }
    }
    .component-outline-box {
        width: 290px;
        height: 628px;
        opacity: 0.1;
        right: -192px;
        top: 74px;
        position: absolute;
        overflow: hidden;
        .component-outline {
            max-width: 453px;
            height: 811px;
        }
    }
}

@media (max-width:1200px) {
    .my-footer-top {
        .rolig-motto {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            p {
                padding: 32px;
                line-height: 40px;
            }
        }
    }
}

@media (max-width:576px) {
    .my-footer-top {
        h3 {
            font-size: 20px;
        }
        .col-sm {
            height: auto;
            margin-bottom: 0;
        }
        .col-sm:last-child {
            margin-bottom: 64px;
        }
    }
}