<footer class="second-footer">

<div class="footer-copyright">
Copyright &copy; 2019 - Všechna práva vyhrazena | Rolig.cz
</div>

<div>
<a class="up" href="#">Nahoru<img class="circle-arrow-bottom" src="images/ico/circle-arrow-bottom.svg"></a>
</div>

</footer>