<div class="my-footer-top">


<div class="container-mft">
<div class="row">

<div class="col-sm">
<h3>Kontaktní údaje</h3>

<ul class="footer-contacts">

<li><img src="images/ico/phone-primary.svg">+ 420 778 456 987</li>
<li><img src="images/ico/mail-primary.svg"><a href="mailto:info@rolig.cz">info@rolig.cz</a></li>
<li><a class="all-contacts" href="#">Všechny kontakty<img class="arrow-primary" src="images/ico/arrow-primary.svg"></a></li>
</ul>

<div class="follow-us">
<span>Sledujte nás</span>

<ul>
<li><a href="#"><img src="images/ico/facebook.svg"></a></li>
<li><a href="#"><img src="images/ico/twitter.svg"></a></li>
<li><a href="#"><img src="images/ico/youtube.svg"></a></li>
<li><a href="#"><img src="images/ico/instagram.svg"></a></li>

</ul>
</div>

</div>


<div class="col-sm">
<h3>Fakturační údaje</h3>

<div class="invoice-rolig">Rolig s.r.o.</div>

<ul class="invoice">

<li>Na žertvách 21, Praha 201 11</li>
<li>IČO: 80890955</li>
<li>DIČ: CZ80890955</li>
<li>Jsme plátci DPH.</li>

</ul>
</div>


<div class="col-sm">
<h3>Důležité informace</h3>

<ul class="important-information">

<li><a href="#">Ochrana osobních údajů</a></li>
<li><a href="#">Kariéra</a></li>
<li><a href="#">Historie</a></li>
<li><a href="#">Smluvní podmínky</a></li>

</ul>
</div>


</div>
</div>


<div class="component-outline-box">
<img class="component-outline" src="images/ico/component-outline.svg">
</div>


<div class="rolig-motto">

<span><img class="rolig-logo" src="images/ico/rolig-logo.svg"></span>

<p>Neprodáváme kamna. Měníme zimu v teplo domova.</p>



</div>



</div>