<section class="section-top-products">

<div class="stp-header"><h2>Lidé u nás nejčastěji <span class="header-orange">poptávají</span></h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
</div>


<div class="container">
<div class="row">


<div class="col-sm">

<div class="img-background">
<div class="triangle-left"></div>
<img class="signpost-item" src="images/theme/signpost-item-01.png">
</div>
<h3>Kamna a krbové vložky</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.</p>

<a class="button-primary" href="#">Objevte naše produkty<img class="arrow-right-white" src="images/ico/arrow-right-white.svg"></a>

</div>


<div class="col-sm">

<div class="img-background-tr">
<div class="triangle-left"></div>
<img class="signpost-item" src="images/theme/signpost-item-02.png">
</div>
<h3>Krbové obestavby</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.</p>

<a class="button-primary" href="#">Stavba krbu<img class="arrow-right-white" src="images/ico/arrow-right-white.svg"></a>

</div>


<div class="col-sm">

<div class="img-background">
<div class="triangle-left"></div>
<img class="signpost-item" src="images/theme/signpost-item-03.png">
</div>
<h3>Kompletní topení</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.</p>

<a class="button-primary" href="#">Realizace topení<img class="arrow-right-white" src="images/ico/arrow-right-white.svg"></a>

</div>


<div class="col-sm">

<div class="img-background-tr">
<img class="signpost-item-last" src="images/theme/signpost-item-04.png">
<div class="triangle-left"></div>
</div>
<h3>Dokončovací práce</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.</p>

<a class="button-primary" href="#">Dokončíme to<img class="arrow-right-white" src="images/ico/arrow-right-white.svg"></a>

</div>


</div>
</div>


</section>