{% macro breadcrumbs(subpageFirstText, subpageText, currentPageText) %}
  <div class="breadcrumbs-container container">
    <div class="breadcrumbs">
      <span>
        <span typeof="v:Breadcrumb">
          <a href="" rel="v:url" property="v:title">Home</a>
          <span class="breadcrumb-last">{{currentPage}}</span>
        </span>
      </span>
    </div>
  </div>