{% extends "layout-base/layout-base.njk" %}

{% block main %}
  {# {% include "breadcrumbs/bredcrumbs.njk" %} #}
  <div class="container container-narrow">
    {% include "search-results-section/search-results-section.njk" %}

  </div>

{% endblock %}